*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

hr{
    color: white;
}

ul{
    line-height: 25px;
}

li{
    font-size: 12px;
    padding-bottom: 10px;
    list-style: none;
}

/*******************************************************************************
ID
*******************************************************************************/
    
#nav-bar-left{
    width: 50px;
    height: calc(100% - 100px);
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    #nav-bar-top{
        width: calc(100% - 50px);
        background-color: rgb(23, 23, 23);
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #controller-bar{
        height: 100px;
        width: 100%;
        background-color: rgb(57, 57, 57);
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
    }

    #container-album{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc(100% - 100px);
        height: 20%;
    }

/*******************************************************************************
BOX
*******************************************************************************/
    
/* box container album */

.box-top-album{
    display: flex;
    padding-top: 60px;
    /* height: 20%; */
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

/* box nav bar */
.box-left{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        width: 20%;  
        flex: 1;      
    }

    .box-center{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55%;
    }

    .box-right{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
    }



/*******************************************************************************
CLASSI
*******************************************************************************/

.schermo{
    height: 100vh;
    position: relative;
    display: flex;
}

/*******************************************************************************
BOTTON AND ICON
*******************************************************************************/

.btn-upgrade{
    padding: 5px 5px;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.btn-upgrade a{
    text-decoration: none;
    color: white;
}

.fa-spotify{
    font-size: 40px;
    color: white;
    margin-top: 25px;
    padding-bottom: 10px;
}

.fa-house,
.fa-magnifying-glass,
.fa-lines-leaning,
.fa-circle-down,
.fa-circle-user,
.fa-heart,
.fa-folder,
.fa-repeat,
.fa-backward-step,
.fa-forward-step,
.fa-arrow-rotate-right,
.fa-bars,
.fa-display,
.fa-volume-high{
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
}

.fa-square-plus{
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
}

.fa-circle-play{
    color: white;
    padding-bottom: 10px;
    font-size: 40px;
}

.none{
    color: white;
    display: none;
}

/*******************************************************************************
Immagini
*******************************************************************************/

.box-left img{
    width:  50px;
    margin-left: 10px;
    margin-top: 20px;
}

/*******************************************************************************
UTILITY
*******************************************************************************/

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}
/*******************************************************************************
@MEDIA
*******************************************************************************/

/* Mobile L */

@media screen and (min-width: 400px){
    #nav-bar-left{
        width: 100px;
    }

    #nav-bar-top{
        width: calc(100% - 100px);
    }

    #nav-bar-left .none{
        display: contents;
    }

    .container-icon-top,
    .container-icon-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5px;
        line-height: 35px;
    }

    .logo-description{
        font-size: 14px;
    }

    .icon-description{
        font-size: 10px;
    }

    .container-icon-middle{
        padding: 10px 0;
        line-height: 40px;
    }
}

@media screen and (min-width: 500px) {
    #controller-bar .none{
        display: contents;
    }
}